* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #b5adcc;
    --secondary-color: #323133;
    --tertiatry-color: black;
}

body{
    color: var(--secondary-color);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* style for header */
header {
    padding: 20px 35px;
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

header h1 a {
    text-decoration: none;
    color: var(--tertiatry-color);
    text-shadow: 0 0 5px rgba(0,0,0,0.5);
    font-size: 40px;
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
    text-shadow: 0 0 10px rgba(0,0,0,0.5);
    color: var(--tertiatry-color);
}

header nav ul li a:hover {
    background: var(--primary-color);
    color: var(--secondary-color);
    text-shadow: none;
}

.text-left {
    text-align: left;
}

/* hero style section */
.hero {
    font-weight: lighter;
    text-align: right;
    font-size: 20px;
}

/* about me stlye section */
.allison img {
    height: auto;
    width: 200px;
    float: left;
}

.bio {
    text-align: right;
}
/* my work style section */

/* resume style section */

/* contact me stlye section - forms */
.contact-form input, .contact-form textarea {
    border: 1px solid var(--secondary-color);
    display: block;
    padding: 7px 15px;
    font-size: 18px;
    color: var(--tertiatry-color);
    width: 100%;
    margin-top: 5px;
    margin-bottom: 15px;
    border-radius: 10px;
    background-color: rgba(0,0,0,0.5);
}

.contact-form input, .contact-form textarea:focus {
    background-color: silver;
    outline: none;
}

.contact-form button {
    width: 100%;
    border: none;
    background-color: var(--primary-color);
    color: var(--tertiatry-color);
    text-align: center;
    padding: 0 15px;
    font-size: 18px;
    border-radius: 10px;
}

.contact-form button:hover {
    color: var(--primary-color);
    background-color: white;
}

/* footer style section */
footer {
    background-color: white;
    width: 100%;
    padding: 40px 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;    
}

footer a {
    text-decoration: none;
    color: var(--secondary-color);
}