* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #b5adcc;
    --secondary-color: #323133;
    --tertiatry-color: black;
}

body{
    color: var(--secondary-color);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* style for header */
header {
    padding: 20px 35px;
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

header h1 a {
    text-decoration: none;
    color: var(--tertiatry-color);
    text-shadow: 0 0 5px rgba(0,0,0,0.5);
    font-size: 40px;
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
    text-shadow: 0 0 10px rgba(0,0,0,0.5);
    color: var(--tertiatry-color);
}

header nav ul li a:hover {
    background: var(--primary-color);
    color: var(--secondary-color);
    text-shadow: none;
}

/* hero style section */
.hero h2 {
    font-weight: lighter;
    font-style: italic;
    text-align: right;
    font-size: 36px;
}

/* Overall page styles */
.section-title {
    font-size: 40px;
    color: var(--secondary-color);
    padding-bottom: 20px;
    text-align: left;
    margin: 0  35px auto;
    width: 50%
}

.content {
    margin: 50px auto;
    padding-bottom: 50px;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}


/* about me stlye section */
.allison .content .bio {
    flex: 2 70%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.allison .content .bio img {
    flex: 1 12%;
    margin-right: 20px;
    height: auto;
    width: 300px;
}

.allison .content .bio p {
    flex: 12;
}

/* my work style section */
.work-section {
    flex:4;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.project {
    /* border-style: solid; */
    border-width: 1px;
    border-radius: 10px;
    padding: 10px;
    flex: 0 0 400px;
}

.project header {
   padding: 20px; 
}

.project img {
    width:100%;
}

.project a {
    display: inline-block;
    border: 5px solid var(--primary-color);
}

.project a img {
    width: 500px;
    height: auto;
}

.project a:hover {
    opacity: 0.55;
    transition: .5s ease;;
}


/* resume style section */

/* contact me stlye section - forms */
.contact h3 {
    text-align: center;
}

.contact-form {
    border: 3px solid var(--secondary-color);
    padding: 20px;
    width: 40%;
    margin: 0 auto;
    border-radius:  15px;
}
.contact-form input, .contact-form textarea {
    border: 1px solid var(--secondary-color);
    display: block;
    padding: 7px 15px;
    font-size: 18px;
    color: var(--tertiatry-color);
    width: 100%;
    margin-top: 5px;
    margin-bottom: 15px;
    border-radius: 10px;
    background-color: rgba(0,0,0,0.5);
}

.contact-form input, .contact-form textarea:focus {
    background-color: silver;
    outline: none;
}

.contact-form button {
    width: 100%;
    border: none;
    background-color: var(--primary-color);
    color: var(--tertiatry-color);
    text-align: center;
    padding: 0 15px;
    font-size: 18px;
    border-radius: 10px;
}

.contact-form button:hover {
    color: var(--primary-color);
    background-color: white;
}

/* footer style section */
footer {
    background-color: var(--primary-color);
    width: 100%;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;    
}

footer a {
    text-decoration: none;
    color: var(--secondary-color);
}

/* Media query for smaller desktop screens & smaller */
@media screen and (max-width:900px) {
    header {
    padding-bottom: 0;
    justify-content: center;
    position: relative;
    }

    header h1 {
        width: 100%;
        text-align: center;
    }

    header nav ul {
        margin-top: 20px;
        width: 100%;
        justify-content: center;
    }

    header nav ul li a {
        font-size: 20px;
    }

    footer {
        text-align: center;
        width: 100%;
    }

    .section-title {
        width: 80%;
    }

    .content {
        flex: 0 70%;
    }
}

/* Media query for tablets & smaller */
@media screen and (max-width: 780px) {
    section {
        padding: 30px 15px;
    }
}

/* Media query for mobile phones & smller */
@media screen and (max-width: 575px) {
    .section-title {
        width: 95%;
    }

    .content {
        flex: 0 100%;
    }

    .contact-form{
        order: 3;
    }

}